<div class="card">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-naturales" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="card-header d-flex justify-content-between flex-wrap">
                        <h5 class="mb-3 mb-sm-0">Gestión de Grupos</h5>
                        <button class="btn btn-primary new" id="btnNew" th:text="#{CREATENEW}" th:disabled="${Actions.indexOf('Create') < 0}" th:hidden="${Actions.indexOf('Create') < 0}"></button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 p-4 pb-5">
                        <table id="table_GROUP" class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Descripción</th>                                
                                    <th scope="col">Acciones</th>                                
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="layouts/content.html :: GroupsModal"></th:block>
<th:block th:replace="layouts/content.html :: PermitsModal"></th:block>
<script type="text/javascript" th:inline="javascript">
var UserFlag      = 'GROUPS';
var Array_groups  = [];
var Array_permits = [];
var Actions       = [[${Actions}]];
$(document).ready( function () {
    Load_Table_Group();
    $('#GroupsModal, #PermitsModal').modal({
        backdrop: 'static',
        keyboard: false,
        show: false
    });
    $('#btnNew').on('click', function (){
        $("#GroupsModalLabel").html("<i class='icon left fas fa-users'></i> "+"Creación de Grupo");
        $('#BtnGroups-Content').prop('hidden', false);
        $("#GroupsModal").modal("show");
    });
    $(".dnd").sortable({
        connectWith: ".dnd",
        cursor: "move",
        helper: "clone",
        items: "> div",
        stop: function(event, ui) {
            var item   = ui.item;
            var parent = item.parent().attr("id");
            if(parent == 'pool'){
                $('#'+item[0].id).children().children().children().children('input').removeClass('ChckAll').prop('disabled', true).prop('checked', false).trigger('change');
            }else{
                $('#'+item[0].id).children().children().children().children('input').prop('disabled', false).addClass('ChckAll');
                $('#'+item[0].id).children().children().children().children('input#view').prop('checked', true).trigger('change');
            }
        }
    }).disableSelection();
});
function Load_Table_Group ()
{
    $('#table_GROUP').DataTable({
        processing: false,
        ordering  : true,
        select    : false,
        destroy   : true,
        bInfo     : false,
        responsive: true,
        language  : {"url": dataTableLang},
        ajax: 
        {
            url: "/PARAMETERS/Records",
            type: "POST",
            data: {table:'groups'},
            dataSrc: function(data) 
            {
                Array_groups = data;
                return data;
            }
        },
        order       : [0, 'asc'],
        "columnDefs": [
            {
                "targets": [1],
                "orderable": false
            }
        ],
        pageLength : 10,
        lengthMenu : [10, 20, 25],
        columns: [
            {data: 'group_name' , className: 'text-center', defaultContent: ''},
            {
                data: null,
                searchable: false,
                className: "text-center btn-admin",
                render: function (data, type, row, index) {
                    var btn     = "";
                    if(Actions.length > 0 && GetActions('Edit') != 'hidden'){
                        btn += '<div class="btn-group">';
                        btn += '<button class="btn btn-secondary btn-admin btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">';
                        btn += '<i class="fas fa-cog"></i>';
                        btn += '</button>';
                        btn += '<ul class="dropdown-menu">';
                        if(data.status == true){
                            btn += '<li><a href="#" onClick="ManageGroup(' + index.row + ',' + data.id + ',' + 2 + ');" class="dropdown-item"'+ GetActions('Edit') +'>Editar</a></li>';
                            btn += '<li><a href="#" onClick="AddPermits(' + data.id + ',' + 1 + ',' + 0 + ');" class="dropdown-item"'+ GetActions('Edit') +'>Asignar Permisos</a></li>';
                            btn += '<li><a href="#" onClick="ChangeStatusGroup(' + data.id + ',' + false + ');" class="dropdown-item"'+ GetActions('Edit') +'>Eliminar</a></li>';
                        }else{
                            btn += '<li><a href="#" onClick="ChangeStatusGroup(' + data.id + ',' + true + ');" class="dropdown-item"'+ GetActions('Edit') +'>Habilitar</a></li>';
                        }
                        btn += '</ul>';
                        btn += '</div>';
                    }
                    return btn;
                }
            }
        ]
    });
}
function ManageGroup (index, id, type) 
{
    $('#id').remove();
    $('<input>').attr({type:'hidden', id:'id', name:'id', value: ''+ Array_groups[index].id +''}).appendTo('form');
    $("#GroupsModalLabel").html(type == 1 ? "<i class='icon left fas fa-users'></i>Detalle de Grupo" : "<i class='icon left fas fa-users'></i>Editar Grupo");
    $('#group_name').val(Array_groups[index].group_name);    
    $('#BtnGroups-Content').prop('hidden', type == 1 ? true : false);
    $('#GroupsModal').modal('show');
}
function StoreGroup ()
{
    var form = $('#frmGroups');
    form.validate({
        errorPlacement: function errorPlacement(error, element) 
        {
            if((element.hasClass('select2') || element.hasClass('MultiSelect2')) && element.next('.select2-container').length) {
                error.insertAfter(element.next('.select2-container'));
            }else if(element[0].classList[2] == "RifCode"){
                return true;
            }else{
                error.insertAfter(element);
            }
        }
    });
    if(form.valid() == true){
        $.ajax({
            url  : '/GROUPS/StoreGroup',
            type : 'POST',
            data : form.serialize(),
        })
        .done(function(response){
            if(response.code == 200){
                Swal.fire(response.message, '', 'success')
                    .then(() => {
                        Load_Table_Group();
                        $('#GroupsModal').modal('toggle');
                        clean_modals('frmGroups');
                    });
            }
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            Swal.fire(jqXHR.status.toString(), jqXHR.responseJSON.error, 'error');
        });
    }
}
function ChangeStatusGroup (id, action)
{
    $.ajax({
        url  : '/PARAMETERS/ChangeStatus',
        type : 'POST',
        data : {id:id, table:'groups', status:action},
    })
    .done(function(response){
        if(response.code == 200){
            Swal.fire(response.message, '', 'success')
                .then(() => {
                    Load_Table_Group();
                });
        }
    })
    .fail(function(jqXHR, textStatus, errorThrown) {
        Swal.fire(jqXHR.status.toString(), jqXHR.responseJSON.error, 'error');
    });
}
</script>