<div class="card">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-naturales" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="card-header d-flex justify-content-between flex-wrap">
                        <h5 class="mb-3 mb-sm-0">Gestión de Cuentas Bancarias</h5>
                        <button class="btn btn-primary new" id="btnNew" th:text="#{CREATENEW}" th:disabled="${Actions.indexOf('Create') < 0}" th:hidden="${Actions.indexOf('Create') < 0}"></button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 p-4 pb-5">
                        <table id="table_ACCOUNT" class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Empresa</th>                                
                                    <th scope="col">N° de Cuenta</th>                                
                                    <th scope="col">Acciones</th>                                
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="layouts/content.html :: AccountModal"></th:block>
<script type="text/javascript" th:inline="javascript">
var Array_Accounts = [];
var Actions        = [[${Actions}]];
var id_company     = null;
$(document).ready( function () {
    Load_Table_Account();
    $('#AccountModal').modal({
        backdrop: 'static',
        keyboard: false,
        show: false
    });
    $('#btnNew').on('click', function (){
        $("#AccountModalLabel").html("<i class='icon left fas fa-credit-card'></i> "+"Asignación de Cuenta");
        $('#BtnAccount-Content').prop('hidden', false);
        $("#AccountModal").modal("show");
    });
    $('#member').on('change', function() {
        $('#agency').empty().append('<option value="" selected> Seleccione...</option>');
        if($(this).val() != '' && id_company != $(this).val()){
            FillSelect($(this).val(),'agency','agency','')
        }
    });
});
function Load_Table_Account ()
{
    $('#table_ACCOUNT').DataTable({
        processing: false,
        ordering  : true,
        select    : false,
        destroy   : true,
        bInfo     : false,
        responsive: true,
        language  : {"url": dataTableLang},
        value : [],
        ajax: 
        {
            url: "/PARAMETERS/Records",
            type: "POST",
            data: {table:'accounts'},
            dataSrc: function(data) 
            {
                Array_Accounts = data;
                return data;
            }
        },
        order       : [0, 'asc'],
        "columnDefs": [
            {
                "targets": [1,2],
                "orderable": false
            }
        ],
        pageLength : 10,
        lengthMenu : [10, 20, 25],
        columns: [
            {data: 'member'  , className: 'text-center', defaultContent: ''},
            {
                data: null,
                searchable: false,
                className: "text-center btn-admin",
                render: function (data, type, row, index) {
                    return AccountMask(data.account);
                }
            },
            {
                data: null,
                searchable: false,
                className: "text-center btn-admin",
                render: function (data, type, row, index) {
                    var btn     = "";
                    if(Actions.length > 0){
                        btn += '<div class="btn-group">';
                        btn += '<button class="btn btn-secondary btn-admin btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">';
                        btn += '<i class="fas fa-cog"></i>';
                        btn += '</button>';
                        btn += '<ul class="dropdown-menu">';
                        btn += '<li><a href="#" onClick="ManageDevice(' + index.row + ',' + data.id + ',' + 1 + ');" class="dropdown-item"'+ GetActions('View') +'>Ver Detalle</a></li>';
                        btn += '<li><a href="#" onClick="ManageDevice(' + index.row + ',' + data.id + ',' + 2 + ');" class="dropdown-item"'+ GetActions('Edit') +'>Editar</a></li>';
                        btn += '</ul>';
                        btn += '</div>';
                    }
                    return btn;
                }
            }
        ]
    });
}
function ManageDevice (index, id, type) 
{
    $('#id').remove();
    $('<input>').attr({type:'hidden', id:'id', name:'id', value: ''+ Array_Accounts[index].id +''}).appendTo('form');
    id_company = Array_Accounts[index].id_member;
    $("#AccountModalLabel").html(type == 1 ? "<i class='icon left fas fa-credit-card'></i>Detalle de Cuenta" : "<i class='icon left fas fa-credit-card'></i>Editar Cuenta");
    $('#member').val(Array_Accounts[index].id_member).trigger('change');        
    FillSelect(Array_Accounts[index].id_member.toString(),'agency', 'agency', Array_Accounts[index].id_agency.toString());     
    $('#account_number').val(type == 1 ? AccountMask(Array_Accounts[index].account) : Array_Accounts[index].account);        
    $('.frmAccount').prop('disabled', type == 1 ? true : false);
    $('#BtnAccount-Content').prop('hidden', type == 1 ? true : false);
    $('#AccountModal').modal('show');
}
function StoreAccount ()
{
    var form = $('#frmAccount');
    form.validate({
        errorPlacement: function errorPlacement(error, element) 
        {
            if((element.hasClass('select2') || element.hasClass('MultiSelect2')) && element.next('.select2-container').length) {
                error.insertAfter(element.next('.select2-container'));
            }else if(element[0].classList[2] == "RifCode"){
                return true;
            }else{
                error.insertAfter(element);
            }
        }
    });
    if(form.valid() == true && ValidateAccCode() == true){
        $.ajax({
            url  : '/PARAMETERS/StoreAccount',
            type : 'POST',
            data : form.serialize(),
        })
        .done(function(response){
            if(response.code == 200){
                Swal.fire(response.message, '', 'success')
                    .then(() => {
                        id_company = null;
                        Load_Table_Account();
                        $('#AccountModal').modal('toggle');
                        clean_modals('frmAccount');
                    });
            }
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            Swal.fire(jqXHR.status.toString(), jqXHR.responseJSON.error, 'error');
        });
    }
}
function ChangeStatusAccount (id, action)
{
    $.ajax({
        url  : '/PARAMETERS/ChangeStatus',
        type : 'POST',
        data : {id:id, table:'accounts', status:action},
    })
    .done(function(response){
        if(response.code == 200){
            Swal.fire(response.message, '', 'success')
                .then(() => {
                    Load_Table_Account();
                });
        }
    })
    .fail(function(jqXHR, textStatus, errorThrown) {
        Swal.fire(jqXHR.status.toString(), jqXHR.responseJSON.error, 'error');
    });
}
</script>